*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    color: white;
    background-color: rgb(21, 21, 51);
}
.box{
    width: 150px;
    height: 200px;
    margin-top: 20px;
    background-color: rgb(21, 21, 51);
    box-shadow: 16px 14px 20px rgba(0, 0, 0, 1);
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation-name: index;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    position: absolute;
}
.box::after,.box1::after,.box2::after{
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background-image: conic-gradient(transparent,transparent,transparent,#d400d4);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}
.box::before,.box1::before,.box2::before{
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background-image: conic-gradient(transparent,transparent,transparent,#00ccff);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
span{
    position: absolute;
    inset: 3px;
    border-radius: 16px;
    background: #0c1022;
    z-index: 1;
}
@keyframes index{

    0%{  left: 0;}
    100%{ left: 1380px;}
}

span h1{
    color: rgb(171, 171, 171);
    font-size: 17px;
    font-weight: 900;
    text-align: center;
    padding-top: 50%;
    font-family: monospace;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(to right,gray 0%,white 10%,gray 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: load 3s linear infinite;
}
@keyframes load{
    0%{
        background-position: 0;
    }
    60%{
        background-position: 80;
    }
    100%{
        background-position: 144px;
    }
}


.box1{
    width: 150px;
    height: 200px;
    background-color: rgb(21, 21, 51);
    box-shadow: 16px 14px 20px rgba(0, 0, 0, 1);
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation-name: index2;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    position: absolute;
    margin-top: 250px;
    margin-left: 1380px;
    animation-delay: 3s;
  
}

@keyframes index2{

    0%{  left: 0px;}
    100%{ left: -1380px;}
}
.box2{
    width: 150px;
    height: 200px;
    background-color: rgb(21, 21, 51);
    box-shadow: 16px 14px 20px rgba(0, 0, 0, 1);
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation-name: index3;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    position: absolute;
    animation-delay: 3s;
    margin-top: 480px;
    animation-delay: 6s;
}
@keyframes index3{

    0%{ left: 0;}
    100%{ left: 1380px;}
}
